[user]
	name = jamerrq
	email = jamerrq@gmail.com
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	pager = cat
